extends layout

block content
  // Begin Page Content
  .container-fluid
    // Page Heading
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Dashboard
    // Content Row
    .row
      .col-lg-7  
        // Basic Card Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Video
          .card-body
            video-js#my_video_2.vjs-default-skin.vjs-big-play-centered.vjs-16-9(controls='', preload='auto', width='500', height='300', poster='/img/decks.png')
              source(src='https://rtmp.mystreams.co.uk:8443/live/' + user.streamkey + '/index.m3u8', type='application/x-mpegURL')
            script(src='https://unpkg.com/video.js/dist/video.js')
            script(src='https://unpkg.com/@videojs/http-streaming/dist/videojs-http-streaming.js')
            script.
              var player = videojs('my_video_2');
              player.on('error', function(err) {
              if(!err){
              //alert("I am an alert box!");
              player.src({ type: "video/mp4", src: "#" });
              player.load();
              player.play();
              }
              else{
              player.play();
              }
              })
      .col-lg-5 
        // Basic Card Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary User Details
          .card-body
            ul Name:    
              =user.name.firstname
              |       
              =user.name.lastname
            ul Email:    
              =user.email  
            ul URL:    rtmp://rtmp.mystreams.co.uk/live  
              
            ul Stream Key:    
              =user.streamkey 
              |     
              .btn.btn-primary.resetstreamkey(data-id=user.id, ) Reset Key
            ul Last Stream :    
          input.btn.btn-primary(href='#addUser', data-toggle='modal', data-target='#addUser' value='Show Time' disabled hidden) 
          .btn.btn-primary(href='#addDest', data-toggle='modal', data-target='#addDest' value='Push Live Stream')  Add Destination
          br 
          .btn.btn-primary(href='#pushStream', data-toggle='modal', data-target='#pushStream' value='Push Live Stream')  Push Live Stream

    // Content Row
    .row
      .col-lg-12
        // Basic Card Example
        .card.shadow.mb-4
          .card-header.py-3
            h6.m-0.font-weight-bold.text-primary Analytics
          .card-body
            h1 Coming Soon
                 
  // /.container-fluid
  // End of Main Content
  #addDest.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addDestLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#addDestLabel.modal-title Add Destination
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form
                    #form-group
                        label Name:
                        input.form-control(type='text' id="name" )
                    #form-group
                        label Stream URL:
                        input.form-control(type='text' id="streamUrl" placeholder='rtmp://rtmp.mystreams.co.uk' )
                    #form-group
                        input.form-control(hidden type='text' id="streamkey" value=user.streamkey)    
                        br
                    input.btn.btn-primary.addDest(type='button', value='Submit')
                    a.btn.btn-danger(href='/') Cancel
  #pushStream.modal.fade(tabindex='-1', role='dialog', aria-labelledby='pushStreamLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              .modal-header
                  h5#pushStreamLabel.modal-title Push Live Stream
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true')
              .modal-body
                  form
                    #form-group
                      label Stream URL
                        select.form-control(id='relay')
                          each relay, i in relays
                            option(value=relay.streamurl type='text') #{relay.streamurl}
                             
                    #form-group
                        label Stream Key:
                        input.form-control(type='password' id="streamKey")
                    #form-group
                        input.form-control(hidden type='text' id="userStreamKey" value=user.streamkey)    
                        br
                    input.btn.btn-primary.pushStream(type='button', value='Submit')
                    a.btn.btn-danger(href='/') Cancel                  